<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- @ViewBag.Title - </title>
    <link href="~/css/colReorder.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/colReorder.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/jquery.dataTables_themeroller.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Sites.css" rel="stylesheet" type="text/css" />



    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("APD Notes Services", "", "", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>P&Co.Net &copy; @DateTime.Today.Day</p>
        </footer>
    </div>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/dataTables.colReorder.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
</body>
</html>