

body {
    padding-top:70px;
}


/********* Layout *************/
li .small{
    color:white;
    font-size:9pt;
}
footer{
    position:center;
}
footer p{
    color:lightslategray;
    text-align:center;
}

/********* Welcome ***********/


button.btn-success .btn-letters{
 color:white;
 
}
.input-date{
   text-align:center;
   padding-top: 0;

}
